.about {
    font-family: "Helvetica";
    line-height: 14px;
    font-size: 14px;
    width: 100%;
}

@media (min-width: 1280px) {
  .about {
    margin-top: 115px;
  }
}

.about__wrapper {
  width: 55%;
  margin: 0 auto;
}

@media (min-width: 835px) {
  .about__wrapper {
    width: 800px;
    margin: 0 auto;
  }
}

@media (min-width: 1280px) {
  .about__wrapper {
    width: 1000px;
  }
}

.about__title {
  position: relative;
  font-size: 14px;
  margin-bottom: 30px;
}

.about__title::after {
  content: '';
  width: 20px;
  height: 3px;
  background-color: #5D809A;
  display: block;
  position: absolute;
  bottom: 3px;
  left: -30px;
}

.about__container {
  width: 70%;
  margin: 0 auto 40px;
}

@media (min-width: 835px) {
  .about__container {
    width: 65%;
    margin-top: 20px;
  }
}

@media (min-width: 1280px) {
  .about__container {
    width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }

  .about__text {
    width: 450px;
  }
}

.about__text {
  margin-bottom: 20px;
}

.about__img {
  width: 100%;
  min-height: 295px;
  margin-bottom: 30px;
  background-image: url("../img/IMG_0470.png");
  background-size: cover;
  background-position: center 0;
  margin-top: 30px;
}

@media (min-width: 1280px) {
  .about__img {
    margin: 0 auto 40px;
    width: 1148px;
    height: 386px;
  }
}

.about__img img {
  width: 100%;
  height: auto;
}
