.contacts {
    position: static;
}

@media (min-width: 680px) {
.contacts {
    position: absolute;
    right: 10px;
    top: 10px;
}

.contacts__tel {
    font-size: 16px;
    text-decoration: none;
}
}

.contacts__tel {
    font-size: 14px;
    font-family: "TTNormsRegular";
    color: #ffffff;
    font-weight: bold;
}

