.contacts {
    position: absolute;
    right: 0;
    top: 10px;
}

.contacts__tel {
    font-family: "TTNormsRegular";
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}