.gallery {
    width: 1200px;
    margin: 0 auto;
}

.gallery__title {
    font-size: 48px;
    text-align: center;
    font-weight: 500;
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 1170px;
}

.gallery__container {
    width: 355px;
    height: 330px;
    margin: 17px;
}

.gallery__img {
    width: 355px;
    height: 330px;
}