.gallery {
  overflow-x:auto;
  background-color: #000000;
  margin-bottom: 40px;
}

.gallery__list {
  display: flex;

}

.gallery__container {
  position: relative;
}

.gallery__img {
  cursor: pointer;
  margin-right: 20px;
}

.gallery__eye{
  margin-top: 10px;
  margin-left: 43%;
  opacity: 0;
}

.gallery__img:hover + .gallery__eye {
  opacity: 1;
}

.gallery__line {
  width: 270px;
  height: 5px;
  display: block;
  background-color: #5D809A;
  position: absolute;
}



.gallery__line.gallery__line--top {
  margin-top: -15px;
  opacity: 0;
}

.gallery__line.gallery__line--bottom {
  margin-bottom: -15px;
  opacity: 0;
}

.gallery__img:hover + .gallery__line.gallery__line--bottom,
.gallery__img:hover + .gallery__line.gallery__line--top {
  opacity: 1;
}

.popup {
	position: absolute;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.3);
	position:fixed;
	z-index:1;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: auto;
  height: auto;
}

.popup_img {
	position: fixed;
	z-index:2;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	height: 80%;
  width: 25%;
}
