.main-nav {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.main-nav__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 20px 0 0;
    padding: 0;
}

@media (min-width: 1200px) {
.main-nav {
    width: 1200px;
    margin: 0 auto;
}

.main-nav__list {
    flex-direction: row;
    margin-top: 0;
    justify-content: flex-end;
    padding-bottom: 30px;
}
}

.main-nav__item {
    padding: 10px;
    border-bottom: 1px solid #a65a00;
    text-align: center;
}

@media (min-width: 1200px) {
    .main-nav__item {
        padding-left: 30px;
        border-bottom: none;
        text-align: none;
    }
}
 
.main-nav__link {
    color: #ffffff;
    text-decoration: none;
    font-weight: 400px;
    font-family: "TTNormsRegular";
}

.main-nav__toggle {
    position: absolute;
    top: 14px;
    right: 40px;
    z-index: 5;
    display: block;
    width: 0px;
    height: 18px;
    background-color: #ffffff;
    cursor: pointer;
    border: none;
  }
  
  @media (min-width: 680px) {
    .main-nav__toggle {
      display: none;
    }
  }

  .main-nav__toggle--close,
  .main-nav__toggle--open {
    width: 24px;
    height: 20px;
    border: none;
  }

  .main-nav__toggle--close-inactive {
    display: none;
    border: none;
  }
  
  .main-nav__toggle--open-inactive {
    display: none;
    border: none;
  }


  .main-nav--closed .main-nav__list li {
      display: none;
  }

  .main-nav--closed .main-nav__list li:first-child {
    display: block;
    background-color: #FF8A00;
    border-top: 1px solid #a65a00;
  }

  @media (min-width: 680px) {
    .main-nav__list {
      display: flex;
      flex-direction: row;
    }
  }

  .main-nav--opened .main-nav__list {
    display: block;
    flex-direction: column;
    width: 100%;
    background-color: #FF8A00;
    border: none;
  }

  .main-nav--opened .main-nav__list li:first-child {
    border-top: 1px solid #a65a00;
  }

  @media (min-width: 680px) {
    .main-nav--opened .main-nav__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    .main-nav--closed .main-nav__list {
        display: flex;
      flex-direction: row;
      justify-content: flex-end;    
    }

    .main-nav--closed .main-nav__list li {
        display: block;
    }

    .main-nav--opened .main-nav__list li:first-child {
        border-top: none;
    }

    .main-nav--closed .main-nav__list li:first-child {
        border-top: none;
    }
  }

  @media (min-width: 1200px) {
    .main-nav--closed .main-nav__list li {
        display: block;
    }
  }