.main-nav {
  font-family:  "Plumb", sans-serif;
  color: #202126;
  background-color: #ffffff;
  border: none;
}

.main-nav__toggle {
  position: absolute;
  top: 12px;
  right: 4px;
  z-index: 2;
  display: block;
  width: 35px;
  height: 18px;
  background-color: #ffffff;
  cursor: pointer;
  border: none;
}

@media (min-width: 1280px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle--close {
  width: 20px;
  height: 20px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.main-nav__toggle--close-inactive {
  display: none;
}

.main-nav__toggle--open-inactive {
  display: none;
}

@media (min-width: 1280px) {
  .main-nav--closed .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    display: none;
  }
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.main-nav__link {
  text-decoration: none;
  color: #202126;
}

.main-nav__item:first-child {
  padding-top: 30px;
}

@media (min-width: 835px) {
  .main-nav__item:first-child {
    margin-left: 220px;
  }

  .main-nav__item:last-child {
    margin-right: 220px;
  }
}

.main-nav__item {
  padding: 15px 0;
  text-align: center;
  font-size: 14px;
}

.main-nav--closed .main-nav__list {
  animation-name: to-right;
  animation-duration: 1000ms;
  flex-direction: column;
  position: absolute;
  width: 140px;
  height: 320px;
  background-color: rgba(255, 255, 255, 0.7);
  top: 45px;
  right: -148px;
}

@media (min-width: 835px) {
  .main-nav__list {
    display: flex;
  }
  .main-nav--closed .main-nav__list {
    animation-name: top;
    animation-duration: 1000ms;
    top: -100px;
    width: 110%;
    right: -40px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-direction: row;
  }
}

@keyframes top {
  from {
    top: 45px;
  }

  to {
    top: -100px;
  }
}

@keyframes to-right {
  from {
    transform: translateX(-140px);
  }

  to {
    transform: translateX(0px);
  }
}

.main-nav--opened .main-nav__list {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 140px;
  height: 320px;
  background-color: rgba(255, 255, 255, 0.7);
  top: 45px;
  right: -20px;
  animation-name: to-left;
  animation-duration: 1000ms;
}

@keyframes to-left {
  from {
    right: -140px;
  }

  to {
    right: -20px;
  }
}

@media (min-width: 835px) {
  .main-nav--opened .main-nav__list {
    width: 110%;
    right: -40px;
    height: 70px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
    animation-name: to-top;
    animation-duration: 1000ms;
    top: 45px;
  }
}

@keyframes to-top {
  from {
    top: 0px;
  }

  to {
    top: 45px;
  }
}

@media (min-width: 1280px) {
  .main-nav__list {
    display: flex;
  }
  .main-nav--closed .main-nav__list {
    display: flex;
    width: 600px;
    margin-left: -180px;
    animation-name: none;
    justify-content: space-between;
    position: static;
  }

  .main-nav__item:first-child {
    margin-left: 10px;
  }

  .main-nav__item {
    font-size: 18px;
  }
}


@media (min-width: 1280px) {
  .main-nav {
    font-size: 14px;
    font-weight: 300;
    padding-top: 10px;
    margin-left: -120px;
    display: block;
  }
}

.main-nav__item {
  margin: 0 15px;
}
