.page-header {
    background-color: #FF8A00;
    width: 100%;
    padding-top: 20px;
}

.page-header__wrapper {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.header-logo {
    text-decoration: none;
    display: flex;
}

.header-logo span {
    width: 70px;
    display: block;
    color: #ffffff;
    font-size: 20px;
    width: 130px;
    line-height: 35px;
}

.header-logo__img {
    width: 35px;
    height: 35px;
    margin: 15px 10px 0 0;
}