.promo {
  width: 100%;
  min-height: 434px;
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  color: #FAFAFA;
  font-family:  "Plumb", sans-serif;
  font-weight: 300;
}

@media (min-width: 835px) {
  .promo {
    min-height: 746px;
  }
}

@media (min-width: 1280px) {
.promo {
  width: 1149px;
  margin: 0 auto;
  position: relative;
}}

@media (min-width: 1280px) {
.promo::before {
  content: '';
  display: block;
  position: absolute;
  height: 575px;
  width: 73px;
  top: 243px;
  right: -72px;
  background-color: #202126;
}

.promo::after {
  content: '';
  display: block;
  position: absolute;
  height: 575px;
  width: 73px;
  top: 494px;
  right: 248px;
  background-color: #202126;
  transform: rotate(-90deg);
}
}

.promo__wrapper {
  width: 95%;
  padding-top: 120px;
  text-align: center;
}

@media (min-width: 835px) {
  .promo__wrapper {
    padding-top: 250px;
    width: 100%;
  }
}

.promo__title {
  font-size: 25px;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 70px;
}

@media (min-width: 835px) {
  .promo__title {
    text-transform: uppercase;
    font-size: 60px;
    text-align: center;
  }
}

.promo__text {
  font-size: 14px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding-top: 10px;
}

@media (min-width: 835px) {
  .promo__text {
    font-size: 18px;
    padding-top: 30px;
  }
}
