body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
}

.dotted {
  display: none;
}

@media (min-width: 1200px) {
  .dotted {
    position: fixed;
    z-index: 10;
    display: block;
    list-style: none;
    right: 30px;
    height: 50%;
    transform: translateY(100%);
  }
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: black;
  margin-top: 10px;
}

.circle--checked {
  width: 20px;
  height: 20px;
  background-color: grey;
}

.container {
width: 100vw;
height: 100vh;
}

.container--lightblue {
  background-color: lightblue;
}

.container--lightgreen {
  background-color: lightgreen;
}

.container--pink {
  background-color: pink;
}

.container--lightyellow {
  background-color: lightyellow;
}
