body {
  margin: 0;
}

.wrapper {
  overflow: hidden;
}

.container {
width: 100vw;
height: 100vh;
}

.container--lightblue {
  background-color: lightblue;
}

.container--lightgreen {
  background-color: lightgreen;
}

.container--pink {
  background-color: pink;
}

.container--lightyellow {
  background-color: lightyellow;
}
