body {
  margin: 0;
  overflow: hidden;
}

.wrapper {
  width: 500vw;
  display: flex;
  height: 300px;
  transition: ease 0.8s;
}

.button-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
}

.back, .next {
  top: 15%;
  position: fixed;
}

.back {
  display: none;
}

.next {
  left: 94%;
  display: block;
}

.container {
width: 100vw;
height: 100vh;
transition: ease 0.8s;
}

.container--lightblue {
  background-color: lightblue;
}

.container--lightgreen {
  background-color: lightgreen;
}

.container--pink {
  background-color: pink;
}

.container--lightyellow {
  background-color: lightyellow;
}

.container--purple {
  background-color: purple;
}
