@font-face {
  font-family: "TTNorms";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/TTNorms-Medium.woff") format("woff");
}

@font-face {
  font-family: "TTNormsRegular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/TTNorms-Regular.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-family: "TTNorms";
}
