@font-face {
  font-family: "VKSansDisplayExpanded";
  src: url("./fonts/VKSansDisplay-Expanded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VKSansDisplayExpanded";
  src: url("./fonts/VKSansDisplay-Expanded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VKSansDisplayExpanded";
  src: url("./fonts/VKSansDisplay-Expanded-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VKSansDisplay";
  src: url("./fonts/VKSansDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VKSansDisplay";
  src: url("./fonts/VKSansDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VKSansDisplay";
  src: url("./fonts/VKSansDisplay-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}