body {
  margin: 0;
  overflow: hidden;
  background-color: #000000;
}

.wrapper {
  width: 100%;
  display: flex;
  height: 300px;
  transition: ease 0.8s;
  margin: 0 auto;
  /*transform: translateX(680px);*/
  border: 3px solid red;
}

.left, .right {
  top: 5%;
  position: fixed;
}

.left {
  display: block;
  left: 20%;
}

.right {
  right: 35%;
  display: block;
}

.container {
transition: ease 0.8s;
margin-top: 50px;
height: 200px;

}

.container--lightblue {
  background-color: lightblue;
  width: 100px;
/*  transform: translateX(668px);*/
}

.container--lightgreen {
  background-color: lightgreen;
  width: 200px;
  /*transform: translateX(668px);*/
}

.container--pink {
  background-color: pink;
  width: 400px;
  visibility: hidden;
}

.container--lightyellow {
  background-color: lightyellow;
  width: 200px;
  visibility: hidden;
}

.container--purple {
  background-color: purple;
  width: 500px;
  visibility: hidden;
}

.container--brown  {
  background-color: brown;
  width: 150px;
  visibility: hidden;
}

.container--red {
  background-color: red;
  width: 700px;
  visibility: hidden;
}
